/* NAVBAR FIJO ARRIBA */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;

  background: #ffffff;
  border-bottom: 1px solid #ddd;

  display: flex;
  align-items: center;

  padding: 0 20px;
  z-index: 1000;
}

/* BOTONES A LA IZQUIERDA */
.navbar-left {
  display: flex;
  gap: 20px;
}

/* ENLACES */
.nav-item {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  padding-bottom: 4px;
}

/* EFECTO AL PASAR EL MOUSE */
.nav-item:hover {
  color: #0078ff;
}

/* ESTILO DEL ENLACE ACTIVO */
.active {
  color: #0078ff;
  font-weight: bold;
  border-bottom: 2px solid #0078ff;
}
