* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f6f9;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;      /* <- deja que la app use todo el ancho */
  min-height: 100vh;
}

#root {
  width: 100%;      /* <- IMPORTANTE */
}
